<!doctype html>
<title>BigBig Pizza</title>
<link rel=stylesheet type=text/css href = {{ url_for('static', filename='style.css') }}>
<link rel="shortcut icon" href={{ url_for('static', filename='favicon.png') }} type=image/png>
<div class=page>
  <h1>BigBig Pizza</h1>
  <body>
  <div class=metanav>
  {% if not session.logged_in %}
  <a href="{{ url_for('login') }}">log in</a>
  <a href="{{ url_for('guest') }}">guest</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>

    <img src="/static/generic_pizza.jpg" alt="BIG Pizza" style= "margin-left: auto; margin-right: auto; display: block;">
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
